<div class="container">
    <div class="row">
        <div class="col"></div>
      <div class="col mt-5">
            <form [formGroup]="npvForm" class="form-horizontal" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="control-label col-sm-5" for="cashFlow">Cash flow:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" formControlName="cashFlow" id="cashFlow" placeholder="Enter value">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-5" for="upperBound">Upper bound:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" formControlName="upperBound" id="upperBound" placeholder="Enter upper bound discount">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5" for="lowerBound">Lower bound:</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" formControlName = "lowerBound" id="lowerBound" placeholder="Enter lower bound discount">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-5" for="increment">Increment:</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" formControlName = "increment" id="increment">
                    </div>
                  </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
    </div>
    <div class="col"></div>
  </div>
  <div class="row"><router-outlet></router-outlet></div>
</div>