<div class="container">
  <div class="row">
    <!-- <div class="col"></div> -->
    <div class="col mt-5">
      <form [formGroup]="npvForm" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="investment">Investment:</label>
          <input type="number" class="form-control" formControlName="investment" id="investment">
        </div>
        <div class="form-group">
          <label class="control-label" for="upperBound">Upper bound:</label>
          <input type="number" class="form-control" formControlName="upperBound" id="upperBound"
            placeholder="Enter upper bound discount">
        </div>
        <div class="form-group">
          <label class="control-label" for="lowerBound">Lower bound:</label>

          <input type="number" class="form-control" formControlName="lowerBound" id="lowerBound"
            placeholder="Enter lower bound discount">
        </div>
        <div class="form-group">
          <label class="control-label" for="increment">Increment:</label>

          <input type="number" class="form-control" formControlName="increment" id="increment">
        </div>
        <div class="form-group">
          <label class="control-label" for="cashFlowNumber">Cash flow #/periods:</label>

          <input type="number" class="form-control" formControlName="cashFlowNumber" id="cashFlowNumber">
        </div>
        <div class="form-group">
          <div id="textBoxContainer" class="row" formArrayName="cashFlowArray">
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger" (click)='clear()'>Clear</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row"><router-outlet></router-outlet></div>
</div>